


body { /*font-family: Arial-BoldMt,微软雅黑;*/
    font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #555555;
    margin: 0;
    padding: 0
}

a {
    color: #555555;
    outline: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.a-hover-style:hover {
    cursor: default;
    color: #555;
}

/*隐藏后面的箭头*/
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

@font-face {
    font-family: myfont-1;
    src: url('../font/myfont.ttf');
}

@font-face {
    font-family: Avenir Next Condensed-Mediumitalic;
    src: url('../font/AvenirNextCondensed-MediumItalic.ttf');
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.woff');
    /* IE9*/
    src: url('../font/iconfont1.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chromeã€firefox */ url('../font/iconfont1.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/ url('../font/iconfont1.svg#uxiconfont') format('svg');
    /* iOS 4.1- */
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #009cff;
    border-color: #009cff;
}

.pagination > li > a, .pagination > li > span {
    color: #777;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    font-weight: normal;
}

input[type=text]:focus {
    border: 1px solid #e65252 !important;
    box-shadow: 0 0 5px #e65252;
    outline: none;
    padding-left: 10px;
}

textarea:focus {
    border: 1px solid #e65252 !important;
    box-shadow: 0 0 5px #e65252;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
}

input[placeholder]::-webkit-input-placeholder { /* WebKit browsers */
    color: #aaaaaa;
!important;
    font-weight: normal;

}

input[placeholder]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

input[placeholder]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

input[placeholder]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

.clearfix {
    clear: both
}

textarea[placeholder]::-webkit-input-placeholder { /* WebKit browsers */
    color: #aaaaaa;
!important;
    font-weight: normal;

}

textarea[placeholder]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

textarea[placeholder]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

textarea[placeholder]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #aaaaaa;
!important;
    font-weight: normal;
}

/*_top的css*/
.top {
    background-color: #333;
    height: 40px;
    width: 100%;
}

.top .top-1 {
    width: 1200px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.nav > li > a {
    padding: 0;
}

.ul-1 .li-1 {
    margin-right: 56px;
}

.ul-1 .li-2 {
    margin-right: 41px;
}

.ul-1 .li-3 {
    margin-top: 10px;
}

.ul-1 .li-4 {
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 80px;
    font-size: 16px;
    color: #e55858;
    font-style: italic;
}

.ul-1 > li > a {
    padding: 0;
    margin: 0;
    line-height: 40px;
    color: #999;
}

.ul-1 > li > ul > li > a {
    background-color: #f2f2f2;
    height: 0;
    margin-top: -10px;
    padding-left: 0;
    padding-right: 0;
}

.ul-1 > li > a:hover {
    background-color: #333 !important;
    color: #d2d2d2;
}

.ul-1 > li > a:active {
    background-color: #333 !important;
}

.ul-1 > li > a:link {
    background-color: #333 !important;
}

.ul-1 > li > a:visited {
    background-color: #333 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #f2f2f2;
}

.ul-1 > li > ul > li > a > span {
    color: #999 !important;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    cursor: pointer;
    padding-left: 5px;
}

.ul-1 > li > ul > li > a > span:hover {
    color: #d2d2d2 !important;
}

.ul-1 > li > ul > li > .downstyle {
    width: 420px;
    height: 240px;
    padding: 0 0 0 5px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #ffffff;
    margin-top: 30px;
}

.ul-1 > li > ul > li > .downstyle > div {
    float: left;
    width: 200px;
    height: 220px;
    padding: 30px 25px 0;
    margin: 0 3px;
    color: #555;
}

.ul-1 > li > ul > li > .downstyle > div img {
    width: 150px;
}

.ul-1 > li > ul > li > .downstyle > div > label {
    width: 144px;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.ul-2 {
    margin: 0;
}

.nav.navbar-right > li {
}

.nav.navbar-right > li > a {
    color: #999;
    font-weight: normal;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.ul-2 .li-1 > a:hover {
    color: #d2d2d2 !important;
}

.ul-2 .li-3 {
    width: 20px;
    margin-left: 10px;
}

.ul-2 .li-2 {
    position: relative;
    width: 100px;
    height: 40px;
    margin-left: 0 !important;
}

.ul-2 .li-2 .second-level {
    display: none;
}

.ul-2 .li-2 ul > li {
    width: 100px;
    list-style: none;
}

.ul-2 .li-2 ul > li > a:hover {
    color: #d2d2d2 !important;
    background-color: #4c4c4c !important;
}

.ul-2 .li-2 ul > li > a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ul-2 .li-2 .top-more-1 {
    padding-right: 10px;
    background-image: url("../image/top-more.png");
    background-repeat: no-repeat;
    background-position: 80px 16px;
}

.ul-2 .li-2 .top-more-2 {
    padding-right: 16px;
    background-image: url("../image/top-more.png");
    background-repeat: no-repeat;
    background-position: 62px 16px;
}

.ul-2 .li-2 ul > li > ul {
    width: 100px;
    background-color: #4c4c4c;
}

.ul-2 .li-2 ul > li > ul > li {
    list-style: none;
    height: 30px;
    background-color: #4c4c4c;
}

.ul-2 .li-2 ul > li > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    color: #d2d2d2 !important;
    background-color: #4c4c4c;
}

.ul-2 .li-2 ul > li > ul > li > a:hover {
    background-color: #333 !important;
}

.ul-2 .li-2 ul .level-1 {
    position: absolute;
    height: 40px;
    z-index: 1000
}

.ul-2 .li-2 ul .level-2 {
    position: absolute;
    height: 40px;
    z-index: 1000
}

.ul-2 .li-2 ul .level-3 {
    position: absolute;
    height: 40px;
    z-index: 1000
}

.ul-2 .ul-li-2 > label {
    color: #555;
    font-size: 12px;
    font-weight: normal;
    padding-top: 19px;
}

.ul-2 li > a {
    color: #999 !important;
    font-size: 14px;
    line-height: 40px;
    background-color: #333;
    font-weight: normal;
    padding-left: 0;
    padding-right: 0;
}

.ul-2 li > a:hover {
    background-color: #333;
}

.ul-2 li > a:active {
    background-color: #333;
}

.ul-2 li > a:link {
    background-color: #333;
}

.ul-2 li > a:visited {
    background-color: #333;
}

.clearfix {
    clear: both;
}

.base-content {
    width: 100%;
    min-height: 80%;
    background-color: #fafafa;
}

.base-content .navSize {
    background-color: #ffffff;
    height: 68px;
    width: 100%;
}

.base-content .navSize .base-content-1 {
    width: 1200px;
    height: 100%;
}

.base-content .navSize .base-content-1 .nav-1 {
    float: left;
    width: 100px;
    height: 34px;
    margin-top: 17px;
	
	position:relative;
	left:-30px;
}

.base-content .navSize .base-content-1 .nav-1 img {
    width: 100%;
    height: 100%;
}

.base-content .navSize .base-content-1 .navga-top {
    float: right;
    width: 1100px;
    height: 68px;
    line-height: 68px;
    vertical-align: middle;
}

/*base的css*/
.nav-title-1 {
    height: 68px;
    width: 100%;
    line-height: 68px;
}

.nav-title-2 {
    height: 68px;
    line-height: 68px;
}

.title-add-s {
    margin-top: 0;
}

.nav-title-1 a {
    display: inline-block;
    width: 100px !important;
    height: 100%;
    margin: 0 20px;
    color: #333;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #fff;
    z-index: 1;
}

.nav-title-1 a span {
    font-size: 16px;
    font-family: "Microsoft Yahei";
}

.nav-title-1 a span img {
    margin-left: 8px;
}

.nav-title-1 a:hover {
    color: #00a2a4;
    border-bottom: 2px solid #00a2a4;
}
.border {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E55858;

}

.notice-border:hover .border {
    transform-origin: 0 0;
    transform: scaleX(1)

}
.nav-title-1 a:active {
    color: #e53232;
    border-bottom: 2px solid #e53232;
}

.nav-title-1 a > img {
    position: absolute;
    top: 27px;
    right: -18px;
}

.nav-title-1 > .title-show {
    color: #e53232;
    border-bottom: 2px solid #e53232;
}

.base-content .size-bottom {
    height: 30px;
    width: 100%;
    background-color: #fafafa;
    clear: both;
}

#trade_hall {
    position: relative;
    display: inline-block;
    height: auto;
}

#trade_hall a {
    border: none;
}
.red_txt {
    color: #e53232;
}
#trade_hall .hall-type {
    display: none;
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -70px;
}

#trade_hall .hall-type li {
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    background-color: #ec736f;
    list-style: none;
}

#trade_hall .hall-type li:hover {
    cursor: default;
    background-color: #fb9f9f;
}

#trade_hall .hall-type .active {
    cursor: default;
    background-color: #fb9f9f;
}



.myfooter {
    width: 1200px;
    height: 100%;
    padding-left: 110px;
}

.footer-1 {
    float: left;
    width: 245px;
    padding-top: 35px;
}

.footer-1 img {
    margin-top: -4px;
}

.footer-1 a {
    color: #999;
    font-size: 18px;
    padding-left: 10px;
    color: #dedede;
    cursor: pointer
}

.footer-1 > .linkf {
    font-size: 14px;
    color: #999;
    margin-left: 80px;
    line-height: 28px;
    display: block;
    width: 125px;
    text-align: left
}

/*_bottom的css*/
.bottom {
    background-color: #505050;
    height: 220px;
    width: 100%;
}

.bottom .cont-bottom {
    position: relative;
    width: 1200px;
    padding-top: 18px;
    height: 100%;
}

.bottom .cont-bottom .bottom-1 {
    position: absolute;
    width: 600px;
    height: 120px;
    left: 0;
    top: 0;
    padding-left: 180px;
}

.bottom .cont-bottom .bottom-1 label {
    width: 100%;
    margin-bottom: 0;
    color: #dedede;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

.bottom .cont-bottom .bottom-1 .label-1 {
    margin-top: 8px;
}

.bottom .cont-bottom .bottom-1 .label-2 {
    margin-top: 24px;
}

.bottom .cont-bottom .bottom-2 {
    position: absolute;
    width: 600px;
    height: 120px;
    left: 600px;
    top: 0;
    padding-right: 180px;
}

.bottom .cont-bottom .bottom-2 ul li {
    float: right;
    width: 90px;
    height: 120px;
    margin-left: 50px;
    list-style: none;
}

.bottom .cont-bottom .bottom-2 ul li img {
    width: 90px;
    height: 90px;
}

.bottom .cont-bottom .bottom-2 ul li label {
    width: 100%;
    margin-top: 4px;
    font-size: 14px;
    color: #dedede;
}

.bottom .cont-bottom .bottom-3 {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 120px;
}

.bottom .cont-bottom .bottom-3 label {
    width: 100%;
    margin: 12px 0 0 0;
    font-size: 14px;
    color: #dedede;
}

.bottom .cont-bottom .bottom-3 label a {
    font-size: 14px;
    color: #dedede;
}

/*loading图*/
.myloading {
    display: none;
    width: 150px;
    margin-top: 20%;
    position: absolute;
    margin-left: 45%;
    z-index: 99;
}

.myloading > img {
    width: 50px;
}

.myloading > label {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

.paging {
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    padding-top: 30px;
    display: none
}

.no-search-result {
    width: 100%;
    height: 500px;
}

.no-search-result .label-1 {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
    text-align: center;
}

.no-search-result .label-2 {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #888;
    text-align: center;
}


