<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>五九集团煤电科普</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/logo3.png" type="image/x-icon"/>

  <link rel="stylesheet" href="/css/mdkp1.css">
  <link rel="stylesheet" href="/css/mdkp2.css">
  <link rel="stylesheet" href="/css/mdkp3.css">
  <link rel="stylesheet" href="/css/mdkp_banner.css" type="text/css" media="screen">
  

<!--  HEAD -->
<link rel="stylesheet" type="text/css" href="/images/engine/style.css" media="screen" />
<script type="text/javascript" src="/images/engine/jquery.js"></script>
<script src="/js/mdkp.js"></script>
  
<!--  HEAD. -->
  
  
     <style type="text/css">
	  #t_left{margin:100px auto;margin-left:30%;}
	  .wjlogo {font-family: "微软雅黑 Light";font-size: 32px;text-shadow: rgb(153, 153, 153) 1px 2px 3px;text-align: center;margin: 10px auto;}
	  #clear{clear:both;}
	   #office:hover{background:red;z-index:10;}
	   .hoverbox img{ cursor: pointer;transition: all 0.6s;}
       .hoverbox img:hover{transform: scale(2);}
	   .iconpng{margin:5px 10px 0 0;cursor: pointer;transition: all 0.6s}
	   .iconpng:hover{transform: scale(2);}
	   img{border:0} 
	  
		.dh ul{position: relative;overflow: hidden;width: 1100px;height: 306px;margin: 200px 0 0 180px;}
		.dh ul li{float: left;width: 108px;overflow: hidden;height: 100%;position: relative;cursor: pointer;}
		.dh ul li a{display: block;width: 100%;height: 100%;}
		.dh ul li .layer{position: absolute;bottom: 0;left: 0;width: 100%;background:rgba(27,29,36,0.75);height: 100%;}
		.dh ul li .layer .p1{position: absolute;bottom: 5px;left: 10px;}
		.dh ul li .layer .p2{position: absolute;bottom: 5px;right: -200%;}
		.dh ul li .layer .p2 b,.dh ul li .layer .p2 span{display: block;font-weight: bold;font-size: 20px;}
		.dh ul li .layer .p1 b,.dh ul li .layer .p1 span{display: block;font-weight: bold;font-size: 14px;}

		.dh ul li.curr{}
		/* .dh ul li.curr .layer .p1{left: -200%;}
		.dh ul li.curr .layer .p2{left: 10px;} */

		.col1{color: #00A39A;}
		.col2{color: #fff;}
     </style>
  
</head>

<body>

  <div id="main" role="main">

	
	<section id="first" class="story" data-speed="8" data-type="background" style="background-position: 50% 0px;">   


	
	
	<div style="position:relative;" class="slideshow grid_12">
	<div class="holder">
		<!-- 主体部分 -->
		<div id="wowslider-container">
			<div class="ws_images">
				<ul>
					<li><a href="#"><img src="/images/data/images/slide1.png" alt="123" title="" /></a></li>
					<li><a href="#"><img src="/images/data/images/slide2.png" alt="456" title="" /></a>五九集团为您照亮万家灯火</li>
					<li><a href="#"><img src="/images/data/images/slide3.png" alt="789" title="" /></a>奉献清洁能源建设和谐社会</li>
					<li><iframe width="100%" height="100%" src=""frameborder="0" allowfullscreen></iframe><img src="/images/data/images/slide5new.jpg" alt="012" title="" /></li>
				</ul>
			</div>
			<div class="ws_bullets">
				<div>
					<a href="#"><img src="/images/data/tooltips/slide1.png" alt="CSS3 Slider" /></a>
					<a href="#"><img src="/images/data/tooltips/slide2.png" alt="CSS Slideshow" /></a>
					<a href="#"><img src="/images/data/tooltips/slide3.png" alt="CSS Gallery" /></a>
					<a href="#"><img src="/images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/images/engine/wowslider.js"></script>
		<script type="text/javascript" src="/images/engine/script.js"></script>
		<!-- 主体部分. -->
	</div>
</div>
	
	
	
	
	
	
	
	
	
	
 	
		<div class="smashinglogo" data-type="sprite" data-offsety="100" data-xposition="50%" data-speed="-2" style="background-position: 50% 100px;">
		
		
		
		
							
							

					<div class="dh sfq">
					<ul>
						<li class="curr">
							<a href="javascript:;"><img src="/images/r1.jpg" alt=""></a>
							<div class="layer">
								<p class="p1"><b class="col1">奉献清洁能源</b><span class="col2">奉献清洁能源</span></p>
								<p class="p2"><b class="col2">建设和谐社会</b><span class="col1">建设和谐社会</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r2.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">服务创造价值</b><span class="col2">服务创造价值</span></p>
								<p class="p2"><b class="col2">专业赢得信任</b><span class="col1">专业赢得信任</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r3.jpg" alt=""></a>
							 <div class="layer">
							   <p class="p1"><b class="col1">创造一流企业</b><span class="col2">创造一流企业</span></p>
								<p class="p2"><b class="col2">建设一流电网</b><span class="col1">建设一流电网</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r4.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">提高安全素质</b><span class="col2">提高安全素质</span></p>
								<p class="p2"><b class="col2">建设美好生活</b><span class="col1">建设美好生活</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r5.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">建设平安用电</b><span class="col2">建设平安用电</span></p>
								<p class="p2"><b class="col2">创新美好生活</b><span class="col1">创新美好生活</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r6.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">打造绿色企业</b><span class="col2">打造绿色企业</span></p>
								<p class="p2"><b class="col2">提供清洁能源</b><span class="col1">提供清洁能源</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r7.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">情牵千万家</b><span class="col2">情牵千万家</span></p>
								<p class="p2"><b class="col2">照明人生路</b><span class="col1">照明人生路</span></p>
							</div>
						</li>
						<li>
						<a href="javascript:;"><img src="/images/r8.jpg" alt=""></a>
							 <div class="layer">
								<p class="p1"><b class="col1">资源枯竭方知贵</b><span class="col2">资源枯竭方知贵</span></p>
								<p class="p2"><b class="col2">全民节源为明天</b><span class="col1">全民节源为明天</span></p>
							</div>
						</li>
		
					</ul>
					</div>









					<script type="text/javascript">
					$(function(){
						  // 初始化 第一个 状态
						  jQuery('.dh ul li.curr').animate({width:'246px'},'slow');
						  jQuery('.dh ul li.curr .layer').animate({height:'60px'},'slow');
						  jQuery('.dh ul li.curr .layer .p1').animate({left:'-200%'},'slow');
						  jQuery('.dh ul li.curr .layer .p2').animate({right:'145px'},'slow');

						  jQuery('.sfq ul li').hover(function(){
							// 获取索引
							 var _index = $(this).index();

							 $(this).addClass('curr')
							 .stop()
							 .animate({
								width:'246px'
							 },'slow')
							 .siblings()
							 .stop()
							 .animate({
								width:'108px'
							 },'slow')
							 .removeClass('curr');

							 $(this).find('.layer').stop().animate({height:'60px'},'slow').parent().siblings().find('.layer').stop().animate({
								 height: '100%'
							 },'slow');

							 $(this).find('.layer .p1').stop().animate({left:'-200%'},'slow').siblings('.p2').stop().animate({
								 right: '145px'
							 },'slow').parent().parent().siblings().find('.layer .p1').stop().animate({left:'10px'},'slow').siblings('.p2').stop().animate({
								 right: '-200%'
							 },'slow')

						  },function(){
							//移出

						  })
					});
					</script>
							
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
        <div style="position:absolute; bottom:0; left:50%; padding:10px; color:#FFF; height:200px; font-size:42px">▼</div>
        </div>		
		<article>

	    <div id="t_left">   
             <a href="http://www.59jt.com" target="_blank">
               <img  style="float:left;" src="/img/logo3.png" alt="image"  height="80" width="80"/>
                 <div style="float:left;margin:-18px 0 0 20px;color:#000;">
                  <P class="wjlogo" style="margin:20px 0 0 0 ;"></i> 五九煤炭集团   煤电科普宣传</P>
                  <P style="margin:5px 0 0 20px ;font-size:20px;"></i>WUJIUCOALGROUP</P>
   			    </div>      
   			 </a>
	   	 </div>
	
	    </article>
	</section>

	
	<section id="second" class="story" data-speed="4" data-type="background" style="background-position: 50% -25px;">
		<article style="color:#bf1c02">
			<h2>热电总厂</h2>
		    	<p>五九煤炭集团热电总厂</p>
		    	<p>因此，百花齐放，百家争鸣，继承和发扬民族传统，是宁夏清真小吃的显著特点。</p>
		    	<p>世界上目前有三大菜系：东方菜系方菜系和伊斯兰菜系。回族美食兼收并蓄东、伊两大菜系之优点。我国的回族美食由其清真品质所决定讲究品质高洁，选料考究，肉食选取活体宰杀，面食以油炸为主，营养搭配合理，特色鲜明。目前已风靡全国，堪称中国食林奇葩。</p>
		    	<p>宁夏是我国回族聚居最多的省份，也是唯一的一个省级回族自治区。由于受伊斯兰文化影响，宁夏当地的饮食有着独具特色的民族风俗习惯。而清真食品已在全国范围内得到普遍发展。</p>	
		    	<p>银川的回族饮食，兼具中原传统和穆斯林的双重风味，是回族和中华文明融合的结果，这里有着正宗的清真食品和清真菜肴，同时还许多独特回族风味小吃，其品种之多，味道之精美，都充分显示出了回族人民的聪明才智。</p>	
                <p>辣辣英网经政府扶持...依托..背景...采集了银川...庞大的信息库....为您打造银川第一美食信息平台..带领本地市民走向信息化生活</p>	
		</article>
	</section>
	
	
	<section id="third" class="story" data-speed="6" data-type="background" data-offsety="250" style="background-position: 50% 50px;">    	
    <div class="photograph" data-type="sprite" data-offsety="1250" data-xposition="25%" data-speed="2" style="background-position: 25% 650px;"></div>
    	<article style="background:#C9F !important; color: #606">
    		<h2>居家生活</h2>
	    	<div class="textbox">    	
		    	<p>现代人们的生活已经离不开电力，当我享受电力给我带来休闲娱乐的乐趣同时更要注意安全用电，节约用电。</p>
                <p>家庭电路的组成 插座 灯座 开关 进户线和连接导线 电能表 闸刀开关 熔断器 户外低压电力网。对用户电器及时检查维修。</p>
		    </div>
    	</article>
	</section>	
	

	
	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsety="250" style="background-position: 50% -25px;">
    	<article style="color:#333; background:#29c6d9; padding:20px; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); ">
    		<h2>电力百科</h2>
	    	<div class="textbox">    	
		    	<p>电力是以电能作为动力的能源。发明于19世纪70年代，电力的发明和应用掀起了第二次工业化高潮。成为人类历史18世纪以来，世界发生的三次科技革命之一，从此科技改变了人们的生活。电力是以电能作为动力的能源。发明于19世纪70 年代，电力的发明和应用掀起了第二次工业化高潮。成为人类历史18世纪以来，世界发生的三次科技革命之一，从此科技改变了人们的生活。</br>产生电力的方式：火力发电(煤)、太阳能发电、大容量风力发电技术、核能发电、氢能发电、水利发电、垃圾焚烧发电等，21世纪能源科学将为人类文明再创辉煌。燃料电池 燃料电池是将氢、天然气、煤气、甲醇、肼等燃料的化学能直接转换成电能的一类化学电源。生物质能的高效和清洁利用技术生物质能是以生物质为载体的能量。</p>
		    </div>
    	</article>

		<video controls width="640" data-type="video" data-offsety="2400" data-speed="1.5" style="top:933.3333333333333px;">
			<source src="video/mov_bbb.ogv" type="video/ogg">
			<source src="http://www.w3school.com.cn/example/html5/mov_bbb.ogg" type="video/MP4">
			<source src="video/mov_bbb.webm" type="video/webm">
		</video>
		
	</section>	



	<section id="five" class="story" data-speed="10" data-type="background" data-offsety="250" style="background-position: 50% 50px;">    	
    <div class="photograph" data-type="sprite" data-offsety="2250" data-xposition="25%" data-speed="2" style="background-position: 25% 650px;"></div>
    	<article style="background:#FC3; color:#066">
    		<h2>节约用电</h2>
	    	<div class="textbox">    	
		    	<p>电是生命的能源，工业的血液，城市的命脉。节约能源，源源不绝。合理使用能源，提高能源利用效率。若要电费缴得少，节约用电要做好。全体人民一齐来，节约能源做环保。节能多尽力，未来多美丽。</p>
                <p>节约能源就从居家做起</p>
		    </div>
    	</article>
	</section>	

	       <style>
         .youlink{height:64px;width:100%; clear:both;background:#00a2a4;filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #931111, endColorstr = #e7171c);}
       </style>
       
       <!--友情链接 开始-->
       <div class="youlink">
        	<div class="w1200">
                
                        <div class="zfriendLinks">
                          <div class="zcenter">
                            <div class="fl zfl_title"> 友情链接： </div>
                             <div class="fl zselect zfl_ml" id="selectdd" style="margin-left:20px;">
                              <p class="zse_p">政府机构</p>
                              <ul class="zse_ul" style="display: none;">
                                   <li class="zse_li zse_first"><a href="javascript:void(0);">政府机构</a></li>
                                   <li class="zse_li"><a href="http://www.gov.cn/" target="_blank">中国政府门户网</a></li>
                                   <li class="zse_li"><a href="http://www.sasac.gov.cn/" target="_blank">国务院国资委</a></li>
                                   <li class="zse_li"><a href="http://www.mof.gov.cn/mof/" target="_blank">财政部</a></li>
                                   <li class="zse_li"><a href="http://www.sdpc.gov.cn/" target="_blank">国家发展和改革委员会</a></li>
                                   <li class="zse_li"><a href="http://www.caea.gov.cn/n602669/index.html" target="_blank">国家原子能机构</a></li>
                                   <li class="zse_li"><a href="http://www.mlr.gov.cn/" target="_blank">国土资源部</a></li>
                                   <li class="zse_li"><a href="http://www.costind.gov.cn/n435777/index.html" target="_blank">国防科学技术工业委员会</a></li>
                                   <li class="zse_li"><a href="http://www.zhb.gov.cn/" target="_blank">国家环保总局</a></li>
                                   <li class="zse_li"><a href="http://www.chinasafety.gov.cn/" target="_blank">国家安全生产监督管理总局</a></li>
                               </ul>
                            </div>
                           
                            <div class="fl zselect" id="selectdd1">
                              <p class="zse_p">中央企业</p>
                              <ul class="zse_ul" style="display: none;">
                                <li class="zse_li zse_first"><a href="javascript:void(0);">中央企业</a></li>
                                <li class="zse_li"><a href="http://www.sgcc.com.cn/" target="_blank">国家电网公司</a></li>
								<li class="zse_li"><a href="http://www.csg.cn/" target="_blank">中国南方电网有限责任公司</a></li>
								<li class="zse_li"><a href="http://www.chng.com.cn/" target="_blank">中国华能集团公司</a></li>
								<li class="zse_li"><a href="http://www.china-cdt.com/" target="_blank">中国大唐集团公司</a></li>
								<li class="zse_li"><a href="http://www.chd.com.cn/" target="_blank">中国华电集团公司</a></li>
								<li class="zse_li"><a href="http://www.cgdc.com.cn/" target="_blank">国家能源集团</a></li>
								<li class="zse_li"><a href="http://www.ctgpc.com.cn/" target="_blank">中国长江三峡集团公司</a></li>
								<li class="zse_li"><a href="http://www.shenhuagroup.com.cn/cs/sh/index.html" target="_blank">神华集团有限责任公司</a></li>
								<li class="zse_li"><a href="http://www.cnnc.com.cn/" target="_blank">中国核工业集团公司</a></li>
								<li class="zse_li"><a href="http://www.cnecc.com/" target="_blank">中国核工业建设集团公司</a></li>
								<li class="zse_li"><a href="http://www.cnpc.com.cn/cnpc/index.shtml" target="_blank">中国石油天然气集团公司</a></li>
								<li class="zse_li"><a href="http://www.sinopecgroup.com/group/" target="_blank">中国石油化工集团公司</a></li>
								<li class="zse_li"><a href="http://www.cnooc.com.cn/data/html/chinese/channel_1.html" target="_blank">中国海洋石油总公司</a></li>
								<li class="zse_li"><a href="http://www.sdic.com.cn/cn/index.htm" target="_blank">国家开发投资公司</a></li>
								<li class="zse_li"><a href="http://www.snptc.com/" target="_blank">国家核电技术有限公司</a></li>
								<li class="zse_li"><a href="http://www.cecic.com.cn/" target="_blank">中国节能环保集团公司</a></li>
								<li class="zse_li"><a href="http://www.chinacoal.com/" target="_blank">中国中煤能源集团公司</a></li>
								<li class="zse_li"><a href="http://www.ccteg.cn/" target="_blank">中国煤炭科工集团有限公司</a></li>
								<li class="zse_li"><a href="http://www.ccgc.cn/" target="_blank">中国煤炭地质总局</a></li>
								<li class="zse_li"><a href="http://www.cnaf.com/" target="_blank">中国航空油料集团公司</a></li>
								<li class="zse_li"><a href="http://www.powerchina.cn/" target="_blank">中国电力建设集团有限公司</a></li>
								<li class="zse_li"><a href="http://www.ceec.net.cn/" target="_blank">中国能源建设集团有限公司</a></li>
								<li class="zse_li"><a href="http://www.cgnpc.com.cn/" target="_blank">中国广核集团有限公司</a></li>
                              </ul>
                            </div>
							
											
						
						    <div class="fl zselect" id="selectdd2">
                              <p class="zse_p">下属机构</p>
                              <ul class="zse_ul" style="">
                                <li class="zse_li"><a href="#">五九销售公司</a></li>
								<li class="zse_li"><a href="#">牙星煤业公司</a></li>
								<li class="zse_li"><a href="#">白音查干煤业公司</a></li>
								<li class="zse_li"><a href="#">胜利煤矿</a></li>
							    <li class="zse_li"><a href="#">鑫鑫一矿</a></li>
								<li class="zse_li"><a href="#">五九三矿</a></li>
								<li class="zse_li"><a href="#">热电公司</a></li>
								<li class="zse_li"><a href="#">物业公司</a></li>
                              </ul>
                            </div>
						
			
						
						
                            <div class="fl zselect" id="selectdd3">
                              <p class="zse_p">知名媒体</p>
                              <ul class="zse_ul" style="">
                                <li class="zse_li zse_first"><a href="javascript:void(0);">知名媒体</a></li>
                                <li class="zse_li"><a href="www.china.com.cn/chinese/index.htm" target="_blank">中 国 网</a></li>
								<li class="zse_li"><a href="http://www.xinhuanet.com/" target="_blank">新 华 社</a></li>
								<li class="zse_li"><a href="http://www.peopledaily.com.cn/" target="_blank">人 民 网</a></li>
								<li class="zse_li"><a href="http://www.cctv.com/default.shtml" target="_blank">央视国际</a></li>
								<li class="zse_li"><a href="http://www.cnradio.com.cn/" target="_blank">中国广播网</a></li>
								<li class="zse_li"><a href="http://www.chinadaily.com.cn/english/home/index.html">中国日报网</a></li>
								<li class="zse_li"><a href="http://www.chinanews.com.cn/">中 新 社</a></li>
								<li class="zse_li"><a href="http://www.economicdaily.com.cn/no1/" target="_blank">经济日报网</a></li>
								<li class="zse_li"><a href="http://www.cycnet.com.cn/" target="_blank">中 青 网</a></li>
								<li class="zse_li"><a href="http://www.cyd.com.cn/" target="_blank">中青在线</a></li>
								<li class="zse_li"><a href="http://www.whb.com.cn/" target="_blank">文新传媒</a></li>
								<li class="zse_li"><a href="http://www.chinataiwan.org/web/webportal/index.html" target="_blank">中国台湾</a></li>
								<li class="zse_li"><a href="http://www.cn5c.com/new/" target="_blank">五洲传媒</a></li>
								<li class="zse_li"><a href="http://www.qianlong.com/" target="_blank">千 龙 网</a></li>
								<li class="zse_li"><a href="http://www.enorth.com.cn/">北 方 网</a></li>
								<li class="zse_li"><a href="http://www.eastday.com/" target="_blank">东 方 网</a></li>
								<li class="zse_li"><a href="http://www.southcn.com/" target="_blank">南 方 网</a></li>
								<li class="zse_li"><a href="http://www.northeast.cn/" target="_blank">东 北 网</a></li>
								<li class="zse_li"><a href="http://news.rednet.com.cn/" target="_blank">红网</a></li>
								<li class="zse_li"><a href="http://www.gmw.cn/" target="_blank">光 明 网</a></li>
								<li class="zse_li"><a href="http://www.dayoo.com/" target="_blank">大 洋 网</a></li>
								<li class="zse_li"><a href="http://www.hsm.com.cn/" target="_blank">华 声 报</a></li>
								<li class="zse_li"><a href="http://hnrb.hinews.cn/php/index.php" target="_blank">海南新闻网</a></li>
								<li class="zse_li"><a href="http://www.cqnews.net/" target="_blank">华 龙 网</a></li>
								<li class="zse_li"><a href="http://www.cet.com.cn/20041216/default.htm" target="_blank">中国经济时报</a></li>
								<li class="zse_li"><a href="http://www.newssc.net/gb/newssc/root/index.html" target="_blank">四川新闻网</a></li>
								<li class="zse_li"><a href="http://www.gxnews.com.cn/news/" target="_blank">桂 龙 网</a></li>
								<li class="zse_li"><a href="http://www.anhuinews.com/" target="_blank">中 安 网</a></li>
								<li class="zse_li"><a href="http://www.yndaily.com/" target="_blank">云南日报网</a></li>
								<li class="zse_li"><a href="http://www.ben.com.cn/" target="_blank">京 报 网</a></li>
								<li class="zse_li"><a href="http://www.infomorning.com/" target="_blank">信息早报</a></li>
								<li class="zse_li"><a href="http://www.dzdaily.com.cn/" target="_blank">大 众 网</a></li>
								<li class="zse_li"><a href="http://www.stdaily.com/" target="_blank">科技日报</a></li>
								<li class="zse_li"><a href="http://www.jfdaily.com.cn/" target="_blank">解放日报</a></li>
								<li class="zse_li"><a href="http://www.legaldaily.com.cn/" target="_blank">法 制 网</a></li>
								<li class="zse_li"><a href="http://www.china-woman.com/" target="_blank">中国妇女</a></li>
								<li class="zse_li"><a href="http://www.bjyouth.com.cn/" target="_blank">北 青 报</a></li>
								<li class="zse_li"><a href="http://www.morningpost.com.cn/" target="_blank">北京晨报</a></li>
								<li class="zse_li"><a href="http://www.nanfangdaily.com.cn/southnews/" target="_blank">南方报业</a></li>
								<li class="zse_li"><a href="http://www.ycwb.com/" target="_blank">金 羊 网</a></li>
								<li class="zse_li"><a href="http://www.snweb.com" target="_blank">环球资讯</a></li>
								<li class="zse_li"><a href="http://www.sg.com.cn/" target="_blank">精 品 网</a></li>
								<li class="zse_li"><a href="http://www.sznews.com/" target="_blank">深圳新闻</a></li>
								<li class="zse_li"><a href="http://www.haiwainet.cn/" target="_blank">海外网</a></li>
								<li class="zse_li"><a href="http://www.indaa.com.cn/" target="_blank">英大网</a></li>                           
								</ul>
                            </div>
                            <div class="fl zselect" id="selectdd4">
                              <p class="zse_p">行业网站</p>
                              <ul class="zse_ul">                     
                                <li class="zse_li"><a href="http://www.zkjt.com.cn" target="_blank">山东能源枣庄矿业集团有限公司</a></li>
								<li class="zse_li"><a href="http://www.sundiro.com" target="_blank">上海新大洲控股</a></li>
								<li class="zse_li"><a href="http://www.sgcc.com.cn/" target="_blank">国家电网公司</a></li>
								<li class="zse_li"><a href="http://www.csg.cn/" target="_blank">南方电网公司</a></li>
								<li class="zse_li"><a href="http://www.chng.com.cn/" target="_blank">中国华能集团公司</a></li>
								<li class="zse_li"><a href="http://www.china-cdt.com/" target="_blank">中国大唐集团公司</a></li>
								<li class="zse_li"><a href="http://www.chd.com.cn/" target="_blank">中国华电集团公司</a></li>
								<li class="zse_li"><a href="http://www.cgdc.com.cn/" target="_blank">中国国电集团公司</a></li>
								<li class="zse_li"><a href="http://www.hydrochina.com.cn/" target="_blank">中国水电工程顾问集团公司</a></li>
								<li class="zse_li"><a href="http://www.cpecc.net/" target="_blank">中国电力工程顾问集团公司</a></li>
								<li class="zse_li"><a href="http://www.cggc.cn/" target="_blank">中国葛洲坝集团公司</a></li>
								<li class="zse_li"><a href="http://www.sinohydro.com/" target="_blank">中国水利水电建设集团公司</a></li>
								<li class="zse_li"><a href="http://www.chinapower.com.cn/" target="_blank">中国电力网</a></li>                           
								</ul>
                            </div>

                        <div class="fl zselect zfl_ml" id="selectdd5" style="display:none">
							  <p class="zse_p"></p>
							  <ul class="zse_ul">
								<li class="zse_li zse_first"><a href="javascript:void(0);">政府机构</a></li>
								<li class="zse_li"><a href="http://www.gov.cn/" target="_blank">中国政府门户网</a></li>
								<li class="zse_li"><a href="http://www.sasac.gov.cn/" target="_blank">国务院国资委</a></li>
								<li class="zse_li"><a href="http://www.mof.gov.cn/mof/" target="_blank">财政部</a></li>
								<li class="zse_li"><a href="http://www.sdpc.gov.cn/" target="_blank">国家发展和改革委员会</a></li>
								<li class="zse_li"><a href="http://www.caea.gov.cn/n602669/index.html" target="_blank">国家原子能机构</a></li>
								<li class="zse_li"><a href="http://www.mlr.gov.cn/" target="_blank">国土资源部</a></li>
								<li class="zse_li"><a href="http://www.costind.gov.cn/n435777/index.html" target="_blank">国防科学技术工业委员会</a></li>
								<li class="zse_li"><a href="http://www.zhb.gov.cn/" target="_blank">国家环保总局</a></li>
								<li class="zse_li"><a href="http://www.chinasafety.gov.cn/" target="_blank">国家安全生产监督管理总局</a></li>
							  </ul>
							</div>

                           </div>
                        </div>


            </div>
        </div>
       <!--友情链接 结束-->
       <!--lower div-->
       <div class="clearfix"></div>   
</div>	
<!--最外层div结束-->	
	   <!--lower 开始-->	
  <div class="footer">
  		<div class="w1200">
        	<ul class="ftxt" style="position:relative;">
            	<li>
              	    <h2>关于我们</h2> 
                    <a href="/html/jtgk" target="_blank">集团介绍</a>
                    <a href="/html/zzjg" target="_blank">组织机构</a>
                    <a href="/html/jyfw" target="_blank">经营范围</a>
                    
                    <h2 style="padding-top:6px;">新闻中心</h2>
                    <a href="/html/xwzx" target="_blank">集团公告</a>
                    <a href="/html/xwzx" target="_blank">领导活动</a>
                    
                </li>
				
				
			    <li style="position:absolute;left:150px; border-right:0;">
              	    <h2>招标采购</h2> 
                    <a href="/html/zbcg" target="_blank">工程招标</a>
                    <a href="/html/zbcg" target="_blank">后勤采购</a>
                    <a href="/html/zbcg" target="_blank">办公采购</a>
                    
                    <h2 style="padding-top:6px;">招贤纳士</h2>
                    <a href="/html/zxns" target="_blank">招聘岗位</a>
                    

                <li>
                	<div  style="text-align:center;">
                      <p >微信关注我们</p>
					  <p style="margin-left:100px;">    
						<a class="hoverbox" href="weixin.html" target="_blank">     
					      <img  src="/img/wx.jpg" alt="微信"  height="100" width="100"/>
					    </a>
					  </p>
	
                    </div>
                </li>
                <li>
                    <div class="plf20">
                    <img class="iconpng"src="/img/icon2.png" height="20" width="20">地址：内蒙古牙克石市煤田镇<br>
                    <img class="iconpng"src="/img/icon3.png" height="20" width="20">邮编：022161<br>
                    <img class="iconpng"src="/img/icon1.png" height="20" width="20">电话：0470-2285555<br>
                    <img class="iconpng"src="/img/icon4.png" height="20" width="20">传真：0470-2285666<br> 
                    <img class="iconpng"src="/img/icon5.png" height="20" width="20">电子邮箱：wujiujituanbgs@163.com<br>
                   </div>
                </li>
                <ol>
                   <div class="plf20">
                      <a  class="hoverbox" href="http://www.59jt.com" target="_blank">
					   <img  style="float:left;" src="/img/logo3.png" alt="image"  height="80" width="80"/>
						 <div style="float:left;margin:-18px 0 0 20px;color:#000;">
						  <h2  class="wjlogo" style="margin:-50px 0 0 60px ;"></i> 五九煤炭集团 </h2>
						  <h6 style="margin:10px 0 0 70px ;"></i>WUJIUCOALGROUP</h6>
						 </div>      
					  </a>
                    </div>
					
					  <div id="clear"></div>
					  <div style="margin-left:30px;"> Copyright ©五九煤炭集团有限公司版权</div>
					  <div style="margin-left:30px;margin-top:0;">蒙ICP备14002253号</div>
					  <div style="margin-left:30px;margin-top:0;">蒙公安网备15078202000048&nbsp;<a class="hoverbox" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15078202000048" target="_blank" ><img src="/img/gongan.png" height="20" width="20"></a></div>
					  <div style="margin-left:30px;margin-top:0;">蒙工商亮照&nbsp;&nbsp;&nbsp;&nbsp;7013&nbsp;&nbsp;&nbsp;&nbsp;<a class="hoverbox" href="https://nmlz.saicjg.com/7013/authority?key=1f2aa0b62b9eacce841b6303fff6de46" target="_blank"><img src="https://nmlz.saicjg.com/images/siteBase.png" width="20" height="20" title="亮照" alt="亮照" border="0"/></a></div>
                </ol>
		
            </ul>

        </div>
  </div>




  	<script type="text/javascript">
		$(function(){
			$(document).contextmenu(function(){
				return false;
			});
		});
	</script>


</body>
</html>