<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>五九集团三供专项</title>
		<link rel="icon" href="/img/logo3.png" type="image/x-icon"/>
        <link rel="stylesheet" href="/css/sangong.css"  type="text/css"/>
		<link rel="stylesheet" href="/css/sangong2.css" type="text/css"/>
		<link rel="stylesheet" href="/css/sangong3.css" type="text/css"/>
		<link rel="stylesheet" href="/css/sangong4.css" type="text/css"/>
		<link rel="stylesheet" href="/css/carousel.css" type="text/css"/>
	
		

		<script src="/js/jquery.carousel.js"></script>
		<script src="/js/jquery-1.12.2.min.js" type="text/javascript"></script>
		<style type="text/css">
			.caroursel{margin:20px auto; background-color: #2D2D2D;}
			#top{width:100%;height:100px;position:relative;}
			#t_left{float:left;margin-top:10px;margin-left:30px}
			#t_right{float:right;}  
			#search{width:300px;height:40px;background:none;outline:none;border:1px solid #006b3e;margin-top:25px;text-indent:1em;font-size: 16px;float:left;}
			#searchbtn{width:40px;height:40px;background:#006b3e;line-height:44px;cursor:pointer;border:0px;float:left;margin-right:100px;margin-top:25px;}
             .wjlogo {font-family: "微软雅黑 Light";font-size: 32px;text-shadow: rgb(153, 153, 153) 1px 2px 3px;text-align: center;}
		</style>
    </head>
    <body>


		<div id="top">

		 
         <div id="t_left">   
             <a href="http://www.59jt.com" target="_blank">
               <img  style="float:left;" src="/img/logo3.png" alt="image"  height="80" width="80"/>
                 <div style="float:left;margin:-18px 0 0 20px;color:#000;">
                  <P class="wjlogo" style=""></i> 五九煤炭集团 </P>
                  <P style="margin:-66px 0 0 20px;font-size: 16px; "></i>WUJIUCOALGROUP</P>
   			    </div>      
   			 </a>
	   	 </div>
	
		 
         <div id="t_right">   
			<input id="search" name="search" type="text" value="请输入搜索信息"><a id="searchbtn" href="http://www.baidu.com" target="_blank">  <img src="/img/but.png" width="44"height="44"/></a>
	   	 </div>
	
	</div>
	

	<div class = "caroursel poster-main" data-setting = "{
		'width':1200,
		'height':400,
		'posterWidth':640,
		'posterHeight':400,
		'scale':0.8,
		'dealy':'2000',
		'algin':'middle'
	}">
		<ul class = "poster-list">
			<li class = "poster-item"><img src="/images/1.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/2.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/3.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/4.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/5.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/6.jpg" width = "100%" height="100%"></li>
			<li class = "poster-item"><img src="/images/7.jpg" width = "100%" height="100%"></li>
		</ul>
		<div class = "poster-btn poster-prev-btn"></div>
		<div class = "poster-btn poster-next-btn"></div>
	</div>
	
	
	
	<script src="/js/circle.js" type="text/javascript"></script>
    <script>
        Caroursel.init($('.caroursel'))
    </script>
	
	
	
	
	
	<div class="homeAdvance">
				<div class="wrap">
					<div class="homeAdvanceTit">
						<h2>五九三供的<span>四大原则</span></h2>
						<p>“坚持以质量为先，诚信为本的原则，提供给客户质量，可靠的产品”</p>
					</div>

					
					
					<!--<div class="homeAdvanceWap">-->
						<div class="homeAdvanceW clearfloat">
							<ul class="homeAdvanceList1">
								<li><div class="pic"><img src="/images/home_advance_img1.png"/></div></li>
							</ul>
							<ul class="homeAdvanceList2">
								<li><div class="pic"><img src="/images/home_advance_img2.png"/></div></li>
								<li class="homeAdvanceCont">
									<h3 class="homeAdvance02">效率原则：</h3>

									<div class="homeAdvanceTxt">
										<p>要求规定的事情必须在规定的时间内办结，不能推托延误，超过规定时间，办得再好也要视为没有办好。如接到报修后维修人员30分钟到达现场，对一般故障60分钟内处理完毕。。</p>
									</div>
								</li>
							</ul>
							<ul class="homeAdvanceList3">
								<li class="homeAdvanceCont">
							<h3 class="homeAdvance01">品牌优势</h3>
								<div class="homeAdvanceTxt">
									<p>第一：服务第一的宗旨</p>
									<p>第二：效率原则</p>
									<p>第三：质量原则</p>
									<p>第四：流程原则</p>
								</div>
								</li>
								

								
								<li class="homeAdvanceCont">
									<h3 class="homeAdvance03">质量原则：</h3>
									<div class="homeAdvanceTxt">
										<p>要求规定的事情必须办到规定的程度，不能应付凑乎，没有达到规定程度，即使流再多的汗也算白流。如白色纸巾擦试砖后无污迹。</p>
									</div>
								</li>
							</ul>
							<ul class="homeAdvanceList4">
								<li><div class="pic"><img src="/images/home_advance_img3.png"/></div></li>
								<li class="homeAdvanceCont">
									<h3 class="homeAdvance04">流程原则</h3>									
									<div class="homeAdvanceTxt">
										<p>流程原则：要求规定的事情必须按照规定程序办理，追求全过程的完美，让服务对象无可挑剔。如维修人员入户维修要穿上鞋套</p>
									</div>
								</li>
							</ul>
						</div>
					<!--</div>-->
				</div>
			</div>
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

        <div class="step-content">
            <div class="step-grid">
                <div class="step-info">
                    <div class="step-box">
                        <h3 class="step-title">三供流程</h3>
                        <ul class="step-row clearfix">
                            <li class="step-row-point step-row-top clearfix"></li>
                            <li class="step-row-left clearfix">
                                <div class="step-text-fl">
                                    <h4>开户申请</h4>
                                    <p>平台与业内优秀的第三方机构合作，由第三方向您提供担保服务。当发生借款人未按时足额支付应付款项时，您委托并授权本平台向第三方合作机构申请履行担保责任，启动代偿。第三方合作机构在担保范围内向您代偿相关款项（包括借款人尚未偿还的本金、相关应付未付利息及可能产生的逾期罚息），并将款项支付至您的相关账户。</p>
                                </div>
                                <div class="step-text-fr">
                                    <img src="/images/icon-head001.png" alt="">
                                </div>
                            </li>
                            <li class="step-row-bottom clearfix"></li>
                            <li class="step-row-right clearfix">
                                <div class="step-text-fl-fr">
                                    <img src="/images/icon-head002.png" alt="">
                                </div>
                                <div class="step-text-fr-fr">
                                    <h4>现金缴费流转</h4>
                                    <p>平台由“连连支付”提供第三方资金通道，实现信息流与资金流的分开管理。资金流转不经过平台账户，所有的资金变动均由出借人本人操作和授权，平台本身并不接触出借者的资金。“连连支付”在支付风险控制和支付安全方面投入了大量的精力，通过了十余项权威机构安全认证：全球更严格的PCI DSS安全认证、VerisignSSL认证、 GeoTrust,Inc、增值电信业务经营许可证、支付服务业务系统检测报告、红盾认证、网络社会征信、可信网站认证等，保障本平台的支付安全。</p>
                                </div>
                            </li>
                            <li class="step-row-bottom-one clearfix">

                            </li>
                            <li class="step-row-left clearfix">
                                <div class="step-text-fl">
                                    <h4>账户信息变更</h4>
                                    <p>平台账户密码分为登录密码及交易密码两种类型：登录密码用于用户登录平台账户；交易密码是涉及到账户信息变动或资金发生变动时需要用来确认的密码。 为账户安全性考虑，交易密码与登录密码不能相同，（若登录密码输错3次后系统将自动锁定账户。在账户锁定期间，不能做任何操作，只能通过重置密码解锁。新登录密码可以和原登录密码相同，但是不能和交易密码相同）为交易提供双重保障。</p>
                                </div>
                                <div class="step-text-fr">
                                    <img src="/images/icon-head003.png" alt="">
                                </div>
                            </li>
                            <li class="step-row-bottom clearfix"></li>
                            <li class="step-row-right clearfix">
                                <div class="step-text-fl-fr">
                                    <img src="/images/icon-head004.png" alt="">
                                </div>
                                <div class="step-text-fr-fr">
                                    <h4>绑定本人工资卡</h4>
                                    <p>本平台只允许绑定出借者本人名下银行账户，出借本息只能提现至出借者本人绑定的银行账户。</p>
                                </div>
                            </li>
                            <li class="step-row-bottom-one clearfix">
                            <li class="step-row-left clearfix">
                                <div class="step-text-fl">
                                    <h4>费用额度监控</h4>
                                    <p>，一旦发现账户欠费要求打电话提醒 三日内未来缴费 停止账户。

                                    </p>
                                </div>
                                <div class="step-text-fr">
                                    <img src="/images/icon-head005.png" alt="">
                                </div>
                            </li>
                            <li class="step-row-point step-row-top step-row-bot clearfix"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

		
		
		
		




		
<div class="bg-grey">
	<div class="content">
	

		<div class="tab-block information-tab">
			<div class="tab-buttons ">
				<h3 class="tab-button cur" data-tab="one">电费行业动态</h3>
				<h3 class="tab-button" data-tab="two">暖费行业动态</h3>
				<h3 class="tab-button" data-tab="three">水费行业动态 </h3>
			</div>
			<div class="tabs">
				<div class="tab-item active" id="tab-one">
					<div class="information-tab">

						<div class="information-left">
							<a >
								<img src="/images/s1.jpg" width="500" height="340" alt="电费行业动态">
							</a>
							<div class="left-bottom">
								<div class="article-title">电费行业动态</div>
								<div class="article-time">
									[12-26 ]
								</div>
							</div>
						</div>
						<div class="information-right">
							<div class="article-list current">
								<a  class="article-link">
									<div class="article-head">
										<span class="article-number">1</span>
										<span class="article-title">实体店线下体验营销是新零售行业的风口</span>
										<span class="article-time">[10-14]</span>
									</div>
									<div class="article-content">
										<p>零售行业最火热的词非“新零售”莫属了，马云提出“未来，没有纯粹的电子商务，也没有纯粹的线下零售，而是线上线下与物流紧密结合的新零售时代。”的见解。因此重新定义、设计的一种思考方式的营销方法——实体店线下体验营销。</p>
									</div>
								</a>
							</div>

							<div class="article-list">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">2</span>
										<span class="article-title">传统汽配供应链为什么越来越难做？</span>
										<span class="article-time">[10-11]</span>
									</div>
									<div class="article-content">
										<p>传统代理商机制在过去产品供小于求的时代下产生，现在供过于求，而且是远远大于求。</p>
									</div>
								</a>
							</div>

							<div class="article-list">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">3</span>
										<span class="article-title">2018年快消品B2B行业预测</span>
										<span class="article-time">[11-17]</span>
									</div>
									<div class="article-content">
										<p>2017年初的时候，刘强东高调宣布了京东的百万便利店计划。8月28日，阿里巴巴零售通也宣称到2018年年底将覆盖100万家小店。再加上中商惠民、易久批、百世店加等行业先行企业，2017年于快消品B2B行业而言，可谓风起云涌。逐近年底，2018年快消品B2B行业又会出现哪些变化呢？且看著名零售专家鲍跃忠老师对2018年快消品B2B的预测。

										</p>
									</div>
								</a>
							</div>

							<div class="article-list">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">4</span>
										<span class="article-title">鲍跃忠：实实在在说我关注的是快消品+B2B</span>
										<span class="article-time">[01-04]</span>
									</div>
									<div class="article-content">
										<p>到底是应该快消品+B2B，还是B2B+快消品，这是两个模式、两个方向、两条道路的问题。</p>
									</div>
								</a>
							</div>

							<div class="article-list">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">5</span>
										<span class="article-title">快消品市场潜力巨大 开展供应链金融正当</span>
										<span class="article-time">[03-16]</span>
									</div>
									<div class="article-content">
										<p>在国家多项利好政策的影响下，供应链金融已成为中小微企业的主要资金融通渠道,并受到了各行各业的追捧。在此背景下，雁阵科技凭借自身技术优势、专业实力及行业服务经验,为业内核心企业、B2B平台提供一站式供应链金融解决方案......</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
				<div class="tab-item" id="tab-two">
					<div class="information-tab ">

						<div class="information-left">
							<a >
								<img src="/images/s2.jpg" width="500" height="340" alt="暖费行业动态">
							</a>
							<div class="left-bottom">
								<div class="article-title">暖费行业动态</div>
								<div class="article-time">
									[02-27 ]
								</div>
							</div>
						</div>
						<div class="information-right">
							<div class="article-list current">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">1</span>
										<span class="article-title">简述B2B电子商务订货平台的几大基本功能</span>
										<span class="article-time">[12-05]</span>
									</div>
									<div class="article-content">
										<p>B2B电商的发展势头非常猛烈，在当下想要成功经营一个B2B电商是一件非常具有挑战的事情，B2B电商订货平台正是企业凤凰涅槃的机会，下面数商云小编就来简单说说B2B电子商务订货平台的几大基本功能。</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">2</span>
										<span class="article-title">电子商务商城网站营销策略，从产品定价开始</span>
										<span class="article-time">[09-21]</span>
									</div>
									<div class="article-content">
										<p>说到电子商务定价，电商平台建设公司【数商云】开发经理kay表示，不妨充分考虑五大方面：影响定价的因素、产品的目标价格定位，定价的基本策略。</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">3</span>
										<span class="article-title">制造业转型，工业品电商的创新发展之路</span>
										<span class="article-time">[07-03]</span>
									</div>
									<div class="article-content">
										<p>5月25日，由中国电子商务协会B2B行业分会提供战略指导，B2B行业专业媒体托比网主办的中国首届“工业+互联网”高峰论坛在上海举行。本届高峰论坛以 “新模式、新通路、新变革”为主题......</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">4</span>
										<span class="article-title">跨境电商平台搭建之站内站外营销</span>
										<span class="article-time">[09-20]</span>
									</div>
									<div class="article-content">
										<p>跨境电商平台搭建好之后，跨境电商平台的站内营销和站外营销成为很重要的工作部分。相信不少的电商平台商家可能都没有站外站内营销的概念，正好今天【数商云】小编就整理了电子商务平台建设的站内站外营销干货，供给搭建跨境电商平台解决方案的运营参考。</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">5</span>
										<span class="article-title">好的商城网站系统需要进行维护</span>
										<span class="article-time">[12-08]</span>
									</div>
									<div class="article-content">
										<p>电商行业发展也有一定年头了，行业内的商城网站也是星罗棋布，各类商城网站充斥者我们的眼球，一个商城网站得以生存总有他的道理，存在即合理，当然一些商城网站逐渐退出了我们的实现，在竞争中被淘汰，那么一个好的商城系统需要对它进行怎么的维护呢？才能保证其...</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
				<div class="tab-item" id="tab-three">
					<div class="information-tab ">

						<div class="information-left">
							<a >
								<img src="/images/s3.jpg" width="500" height="340" alt="水费行业动态">
							</a>
							<div class="left-bottom">
								<div class="article-title">水费行业动态</div>
								<div class="article-time">
									[12-04 ]
								</div>
							</div>
						</div>
						<div class="information-right">
							<div class="article-list current">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">1</span>
										<span class="article-title">如何制作一个电子商务平台系统？</span>
										<span class="article-time">[11-07]</span>
									</div>
									<div class="article-content">
										<p>大致的流程如下，以电商平台开发公司【数商云】为例子，在实际项目往往会涉及到人与人之间的复杂沟通以及协作，所以需要有严谨的管理规范以及弹性的流程控制才能达到较高水准的项目质量。</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">2</span>
										<span class="article-title">开发一个电子商务网站，需要运用哪些设计原则</span>
										<span class="article-time">[03-21]</span>
									</div>
									<div class="article-content">
										<p>随着目前电子商务网站开发技术的迭代，电商网站的交互设计得到了很大程度的提升，可以认为现在的新型的商城平台都呈现出交互效果。由此可以引发一个思考，电商系统网站开发的交互设计原则、基础是什么？</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">3</span>
										<span class="article-title">传统企业转型建设独立B2C电商平台_会面临什么问题？</span>
										<span class="article-time">[09-20]</span>
									</div>
									<div class="article-content">
										<p>传统企业电子商务平台建设公司【数商云】市场总监在这里分享提出一些B2C企业内部运营（主要是订单处理流程方面）所面临的问题：</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">4</span>
										<span class="article-title">什么是社区电商平台？社区电商达人教路</span>
										<span class="article-time">[09-16]</span>
									</div>
									<div class="article-content">
										<p>通过社区电商达人了解到，最先发展起社区电商的是一些物业，以及拥有社区资源的企业。他们有一个共同点都属于传统型企业，想把一个社区电商平台运营好。</p>
									</div>
								</a>
							</div>

							<div class="article-list ">
								<a  class="article-link">
									<div class="article-head ">
										<span class="article-number">5</span>
										<span class="article-title">电子商务网店系统开发，重视要点总结！</span>
										<span class="article-time">[09-21]</span>
									</div>
									<div class="article-content">
										<p>【数商云】为企业定制专属的电商网站时，发现很多电商企业在沟通过程多次强调要设计开发出一个热点十足，够噱头的电商平台，这类型的电商网站开发设计方面确实够噱头了，但不是建立在用户体验的基础上，忽略了用户的感官视角。</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//tab切换		
	$('.tab-button').click(function() {
		var tab = $(this).data('tab')
		$(this).addClass('cur').siblings('.tab-button').removeClass('cur');
		$('#tab-' + tab + '').addClass('active').siblings('.tab-item').removeClass('active');
	});
	//新闻列表切换
	$('.information-tab .article-list').hover(function() {
		$(this).addClass('current').siblings('.article-list').removeClass('current');
	}, function() {
		$(this).parent('.information-right').find('.article-list:first-of-type').addClass('current').siblings('.article-list').removeClass('current');
	});
</script>
		



    <div id="out">
	    <div id="first"><a><img src="/img/internet.png"></a></div>
	    <div id="second"><a><img src="/img/fax.png"></a></div>
	    <div id="third"><a><img src="/img/map.png"></a></div>
	</div>
	<div id="nav">
	    <img src="/img/home.png">
	</div>
	

	
    </body>
</html>
